body {
    background-color: #DBCDC9;
}

.btn-secondary{
    margin-left: 20px;
}

h1 {
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    font-family:cursive;
}